.navigation {
  padding-top: 15px;
  display: flex;
  justify-content: stretch;
}

ul {
  display: flex;
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: #70726F;
}

li a:hover {
  color: #061D25;
  text-decoration: none;
}

li {
  margin: 0px 125px;
  line-height: 70px;
  font-size: x-large;
  font-family: sans-serif;
  font-style: initial;
}

h1 {
  color: darkblue;
  text-align: center;
  padding: 15px 0 15px 0;
}

p {
  text-align: center;
  color: darkslateblue;
  font-weight: 700;
}

.video {
  display: flex;
  justify-content: center;
}

.footer {
  background: #061D25;
  padding: 10px 0;
}

.footer a {
  color: #70726F;
  font-size: 20px;
  padding: 10px;
  border-right: 1px solid #70726F;
  transition: all .5s ease;

}

.footer p {
  color: #70726F
}

.footer a:first-child {
  border-left: 1px solid #70726F;
  padding-left: 500px;
}

.footer a:hover {
  color: white;
}

@media (max-width: 980px) {
  .footer a:first-child {
    padding-left: 10px;
  }

  li {
    margin: 0px 45px;
  }
}