* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    margin: auto;
}

.size {
    margin: auto;
    max-width: 1380px;
}

.navigation {
    padding-top: 15px;
    display: flex;
    justify-content: stretch;
}

ul {
    display: flex;
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: #70726F;
}

li a:hover {
    color: #061D25;
    text-decoration: none;
}

li {
    margin: 0px 125px;
    line-height: 70px;
    font-size: x-large;
    font-family: sans-serif;
    font-style: initial;
}

.about_hero {
    margin: 0px;
    padding: 0px 0px 15px 0px;
    display: flex;
    margin: 0;
}

.sposob {
    margin: 5px;
    padding: 25px 0px;
}

h1 {
    color: red;
    text-align: center;
    padding: 15px 0 15px 0;
}

.text_hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text_hero p {
    font-size: 14px;
    line-height: 18px;
    color: #231f20;
    font-weight: 400;
    padding: 0px;
}

span {
    font-style: oblique;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.icon p {
    font-size: 18px;
    color: red;
    font-weight: 400;
    padding-top: 5px;
    font-style: italic;

}

.icon {
    text-align: center;
    margin: 0 auto;
}

.films {
    text-align: center;
    padding: 50px 0px;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}



.picture p {
    font-size: 14px;
    color: #000000;
    font-weight: 400;
    text-align: left;
}


.imgleft {
    text-align: right;
    margin-top: 250px;
}

.imgright {
    text-align: left;
    margin-top: 250px;
}

#film {
    background-color: #9c9c9c;
    color: #af0404be;
    width: 75%;
    border: 1px dotted black;
    border-radius: 0 35px 35px 0;
    margin: 15px 0px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.slide {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.slide img {
    position: absolute;
    transition: opacity 1.1s 0.1s;
}

.pic {
    opacity: 0;
}

.active {
    opacity: 1;
}

.footer {
    background: #061D25;
    padding: 10px 0;
    margin-top: 290px;
    text-align: center;
}

.footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    transition: all .5s ease;
}

.footer p {
    color: #70726F;
    text-align: left;
}

.footer a:first-child {
    border-left: 1px solid #70726F;
}

.footer a:hover {
    color: white;
}

@media (max-width: 980px) {

    .imgright {
        opacity: 0;
    }

    .imgleft {
        opacity: 0;
    }

    .text_hero {
        text-align: left;
    }

    h1 {
        text-align: center;
    }

    body {
        max-width: 980px;
        margin: auto;
    }

    .size {
        margin: auto;
        max-width: 980px;
    }

    li {
        margin: 0px 45px;
    }